<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Club Fever</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1 id="main-title">Club Fever</h1>
  <p>Participate in your club's betting pool</p>

<div class="search-bar-clubs">
  <%= simple_form_for :search, url: clubs_path, method: :get do |f| %>
    <%= f.input :search, placeholder: "Search for your club...", label: false %>
  <% end %>
</div>

<div id="clubs-list">
  <% if @clubs.present? %>
    <% @clubs.each do |club| %>
      <div class="club-item">
        <p><%= club.name %></p>
      </div>
    <% end %>
  <% else %>
    <p>No clubs found</p>
  <% end %>
</div>


  <!-- Exemplo de clubes abaixo da barra de busca -->
  <div id="carousel-container">
  <!-- Botão para a esquerda -->
  <button id="prev-btn" class="carousel-btn">&#9664;</button>

  <!-- Carrossel -->

  <!-- Botão para a direita -->
  <button id="next-btn" class="carousel-btn">&#9654;</button>
</div>
<div id="footer-message">
  <h2>Your support makes the difference!⚽</h2>
</div>
  <script src="script.js"></script>
</body>
</html>
