.club-edit-card {
  background-color: $blue;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    color: $yellow;
    font-size: 1.5rem;
    margin-bottom: 0px;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1rem;
      font-weight: bold;
      color: $white;
      margin-top: 15px;
      margin-bottom: 7px;
    }

    input,
    textarea {
      border: 1px solid lighten($blue, 30%);
      border-radius: 5px;
      padding: 10px;
      font-size: 1rem;
      width: 100%;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

      &:focus {
        outline: none;
        border-color: $yellow;
        box-shadow: 0px 0px 5px rgba(255, 255, 0, 0.5);
      }
    }

    textarea {
      resize: none;
    }

    // Specific styling for file input
    input[type="file"] {
      border: 2px dashed lighten($blue, 20%);
      background-color: darken($blue, 5%);
      color: $white;
      padding: 10px;
      border-radius: 5px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background-color: lighten($blue, 10%);
        border-color: $yellow;
      }

      &:focus {
        outline: none;
        border-color: $yellow;
        box-shadow: 0px 0px 5px rgba(255, 255, 0, 0.5);
      }

      &::file-selector-button { // this is the "select a file button"
        background-color: $yellow;
        color: $dark-blue;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s ease;
        margin-right: 10px;

        &:hover {
          background-color: lighten($yellow, 10%);
        }
      }
    }
  }
  .card-footer {
    margin-top: 15px;
  }
}


.solve-quiniela-card {
  background-color: $dark-blue;
  border-style: solid;
  border-color: $grey;
  border-radius: 12px;
  padding: 25px;
  max-width: 400px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  color: $white;
}

// .active-quinielas-show {
//   .h2-show {
//     margin-left: 25px;
//     font-weight: 400;
//   }


//     .quiniela-header-show {
//       display: flex;
//     }

//     .h3-show {
//       margin-left: 10px;
//       margin-top: 7px;
//     }

//     .quiniela-logo {
//       bottom: 10px;
//       left: 10px;
//       width: 70px;
//       height: 70px;
//       border-radius: 50%;
//       overflow: hidden;

//       img {
//         width: 100%;
//         height: auto;
//       }
//     }

//     .btn-yellow {
//       display: inline-block;
//       min-width: 100px;
//       padding: 10px 16px;
//       font-size: 16px;
//       font-weight: bold;
//       color: $dark-blue;
//       background-color: $yellow;
//       border: none;
//       border-radius: 5px;
//       cursor: pointer;
//       text-align: center;
//       text-decoration: none;
//       margin-left: 45px;
//       margin-right: 45px;
//       margin-top: 10px;

//       &:hover {
//         transition: 0.3s ease-in;
//         filter: brightness(80%);
//       }

//       &:active {
//         filter: brightness(70%);
//       }
//     }
//   }
