/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #101010;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}
#main-title {
  color: $red;
}
/* Título */
h1 {
  margin-top: 20px;
  font-size: 2rem;
}

/* Subtítulo */
p {
  margin-bottom: 20px;
}

/* Barra de busca */
.search-bar-clubs {
  display: flex; /* Torna o contêiner flexível */
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  margin-top: 20px; /* Adiciona espaçamento superior, se necessário */
}

.search-bar-clubs input {
  width: 300px;
  height: 35px;
  border: 2px solid #ffcc00;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #101010;
  color: #fff;
  text-align: center; /* Opcional: centraliza o texto dentro da barra */
}

.search-bar-clubs input::placeholder {
  color: #888;
}

/* Resultados da busca */
#results {
  margin-top: 20px;
}

/* Container dos clubes de exemplo */
#example-clubs {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilo de cada clube */
/* Club item */
.club-item {
  text-align: center;
  background: $blue;
  padding: 10px;
  border-radius: 8px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.club-item:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.club-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.club-item p {
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
}

#clubs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;

  .club-item {
    background-color: #1e1e1e;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    p {
      margin: 10px 0 0;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
