$white: #F9FAFA;
$dark-blue: #0C161C;
$blue: #1A2329;
$yellow: #DEE517;
$red: #D72626;
$grey: #D9D9D9;

.club-create-form {
  margin: 20px 20px;
  background-color: $blue;
  border-radius: 10px;
  padding: auto 10px;

    .form-group {
      margin: 0 15px;
    }

  h2 {
    color: $yellow;
    padding-top: 10px;
  }

  .form-actions {
    padding-bottom: 20px;
  }
}
