<div class="container-home">
  <div class="image-card">
    <h3>CLUB <br><span class="italic">FEVER.</span></h3>
  </div>
  <div class="slogan">Participate in your club's <br>betting pool</div>
  <div class="Logo-list">
    <img src="">
  </div>
  <div class="search-button">
    <%= link_to 'Search your club', clubs_path, class:'btn-yellow' %>
  </div>
  <div class="steps-container">
    <h3>Steps</h3>
    <div class="find-your-club">
      <img width="35" height="35" src="https://img.icons8.com/color/48/search--v1.png" alt="search--v1"/>
      <h4>Find your club</h4>
      <p> Search for your favorite club and access its exclusive pools!</p>
    </div>
    <div class="predictions">
      <img width="35" height="35" src="https://img.icons8.com/color-glass/48/sign-up.png" alt="sign-up"/>
        <h4>Make your predictions</h4>
        <p>Choose the match result and submit your picks!</p>
    </div>
    <div class="rewards">
      <img width="32" height="32" src="https://img.icons8.com/windows/32/dee517/gift.png" alt="gift"/>
      <h4>Win Rewards</h4>
      <p> Compete with others, earn points, and win exciting prizes!</p>
    </div>
  </div>
  <div class="sign-up-container">
    <div class="register">
      <h3>Register for exclusive benefits</h3>
    </div>
    <div class="register-content">
      <ul>
        <li><img width="24" height="24" src="https://img.icons8.com/metro/52/dee517/checkmark.png" alt="checkmark"/> Access your past quinielas</li>
        <li><img width="24" height="24" src="https://img.icons8.com/metro/52/dee517/checkmark.png" alt="checkmark"/> Save your details for faster entries</li>
        <li><img width="24" height="24" src="https://img.icons8.com/metro/52/dee517/checkmark.png" alt="checkmark"/> Enjoy a personalised profile</li>
        <li><img width="24" height="24" src="https://img.icons8.com/material-outlined/24/dee517/coming-soon.png" alt="coming-soon"/> More advantages</li>
      </ul>
    </div>
    <div class="signup-button">
      <%= link_to 'Sign Up',  new_user_registration_path, class: 'btn-yellow' %>
    </div>
  </div>
  <div class="clubs-container">
      <h4 class="space"> SPACE    </h4>
      <h3>Are you a club?</h3>
        <p>Empower your club with our <br>interactive pool platforms</p>
    <div class="benefits-container">
      <h3>Benefits</h3>
      <div class="engagement">
        <img width="50" height="50" src="https://img.icons8.com/wired/64/dee517/circled-play.png" alt="circled-play"/>
          <h4>Boost Fan Engagement</h4>
            <p>Turn every match into an opportunity <br> for your fans to connect and compete.<br> Keep them engaged throughout the<br>season with fun, interactive pools.</p>
      </div>
      <div class="supporters">
        <img width="50" height="50" src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/50/dee517/external-arrows-up-increase-and-decrease-tanah-basah-basic-outline-tanah-basah.png" alt="external-arrows-up-increase-and-decrease-tanah-basah-basic-outline-tanah-basah"/>
          <h4>Reward Loyal Supporters</h4>
            <p>Offer exciting rewards to fans who <br>participate. Build a deeper connection by<br> showing appreciation for their loyalty.</p>
      </div>
      <div class="insights">
        <img width="50" height="50" src="https://img.icons8.com/pulsar-line/50/dee517/people-working-together.png" alt="people-working-together"/>
          <h4>Gain Actionable Insights</h4>
            <p>Use data from pool participation to<br> make informed decisions and enhance<br>your club's marketing strategy.
      </div>
      <div class="revenue">
        <img width="50" height="50" src="https://img.icons8.com/ios-glyphs/50/dee517/statistics--v1.png" alt="statistics--v1"/>
          <h4>Unlock New Revenue Streams</h4>
            <p>Monetize your fan base by offering<br> premium pools and new sponsorship<br>and advertising opportunities.
      </div>
    </div>
  </div>
  <div class="subscriptions-container">
    <h3>Choose your plan</h3>
      <div class="basic-plan">
        <h3>Basic Plan</h3>
          <h5>Get started with our basic plan</h5>
          <ul>
            <li><img width="24" height="24" src="https://img.icons8.com/material-outlined/24/FAB005/football.png" alt="football2"/> 5 quinielas per month</li>
            <li><img width="24" height="24" src="https://img.icons8.com/material-outlined/24/FAB005/football.png" alt="football2"/> Data of your fans</li>
            <li><img width="24" height="24" src="https://img.icons8.com/material-outlined/24/FAB005/football.png" alt="football2"/> Club Fever support</li>
          </ul>
        <h3>19,99€</h3>
          <div class="start-button">
            <a href="#" class="btn-yellow">Start</a>
          </div>
    </div>
    <h4>Get registered <br>and start creating quinielas <br>for your fans!</h4>
  </div>
</div>
