
<div class="rules-container">
    <header>
        <h1>Club Fever <br>User Handbook</h1>
    </header>

    <div class="quiniela-definition">
      <section>
          <h2>What is a Quiniela?</h2>
          <p>A quiniela allows you to predict the outcomes of soccer matches, providing an exciting way to engage with the sport.</p>
      </section>
    </div>

    <div class="quiniela-step-by-step">
        <section>
          <h2>How to Play a Quiniela</h2>
          <hr width="100%" size="2">
            <h3>Step 1: Register</h3>
            <p>Create an account on Club Fever and fill in your details.</p>

          <hr width="100%" size="2">
            <h3>Step 2: Understand the Matches</h3>
            <p>Check the app for the list of matches included in the current quiniela.</p>

          <hr width="100%" size="2">
            <h3>Step 3: Make Predictions</h3>
            <p>For each match, select:</p>
              <p>1: Home Team Wins</p>
              <p>X: Draw</p>
              <p>2: Away Team Wins</p>

          <hr width="100%" size="2">
            <h3>Step 4: Submit Your Quiniela</h3>
            <p>Review your selections and click "Submit" before the deadline.</p>

          <hr width="100%" size="2">
            <h3>Step 5: Scoring and Results</h3>
            <p>Check the app for updates and view how you performed.</p>

          <hr width="100%" size="2">
            <h3>Step 6: Leaderboards and Prizes</h3>
            <p>Compete in the leaderboard and join seasonal challenges for prizes.</p>
        </section>
    </div>

    <section>
      <div class="success-rules">
        <h2> 💡 Tips for Success </h2>
          <p>Stay informed about team news and performance!</p>
          <p>Review past quinielas to analyze trends and outcomes!</p>
      </div>
    </section>

    <footer class="rules-footer">
        <p>Enjoy the fever of soccer and good luck!</p>
    </footer>
</div>
