$white: #F9FAFA;
$dark-blue: #0C161C;
$blue: #1A2329;
$yellow: #DEE517;
$red: #FD1015;


.container-fluid{
  margin-top: 10px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  padding: 0px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h3 {
      color: $red;
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-weight: 450;
      text-align: center;
      font-weight: bold;

      .italic {
        font-style: italic;
      }
    }


  .navbar-toggler {
    border: none;
    margin-bottom: 10px;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  .navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;

    .nav-item {
      position: relative;

      .nav-link {
        text-decoration: none;
        font-size: 18px;
        color: $white;
        padding: 8px 12px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: lighten($blue, 10%);
          color: $yellow;
        }
      }

      &.dropdown {
        .dropdown-menu {
          border-style: solid;
          border-color:  #F9FAFA;
          background: $blue;
          margin-bottom: 15px;

          .dropdown-item {
            color: $white;
            padding: 8px 12px;
            font-size: 14px;
            transition: background 0.3s ease-in-out;

            &:hover {
              background: lighten($blue, 20%);
              color: $yellow;
            }
          }

          .btn-create-club {
            text-decoration: none;
            font-size: 18px;
            color: $white;
            padding: 8px 12px;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
            font-size: 14px;

            &:hover {
              background-color: lighten($blue, 10%);
              color: $yellow;
            }
          }
        }

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-bottom: 10px;
          //border: 2px solid $white;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-collapse {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .nav-item {
      width: 100%;

      .nav-link {
        width: 100%;
        text-align: center;
      }

      .dropdown-menu {
        width: 100%;
        text-align: center;
      }
    }
  }
}
